@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar to match the aesthetic */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1a1b26; 
}
::-webkit-scrollbar-thumb {
  background: #414868; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #565f89; 
}